@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
    font-size: 100%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

body {
    width: 90%;
    margin: auto;
    max-width: 1440px;
}

h1,
h2 {
    font-weight: 400;
}

#main {
    padding-bottom: 75px;
}
