/* * * * * * * * */
/* Variables CSS */
/* * * * * * * * */

:root {
    --primary-dark-red: #901c1c;
    --primary-light-red: #d3573c;
    --secondary-dark-gray: #525252;
    --secondary-light-gray: #fafafa;
}
