/* * * * * * */
/* Reset CSS */
/* * * * * * */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

header {
  padding: 0;
}

fieldset {
  border: none;
}

button {
  border: none;
}

input,
textarea {
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

body {
  width: 90%;
  margin: auto;
  max-width: 1440px;
}

h1,
h2 {
  font-weight: 400;
}

/* * * * * * * * */
/* Variables CSS */
/* * * * * * * * */
:root {
  --primary-dark-red: #901c1c;
  --primary-light-red: #d3573c;
  --secondary-dark-gray: #525252;
  --secondary-light-gray: #fafafa;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

h1 {
  color: var(--primary-dark-red);
  font-size: 36px;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 120px;
}

.logo {
  margin-left: 0;
}

.photographer__profileCard {
  background-color: #fafafa;
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.photographer__profileCard__infos__name {
  color: var(--primary-light-red);
  font-size: 64px;
}
.photographer__profileCard__infos__location {
  font-size: 24px;
  color: var(--primary-dark-red);
}
.photographer__profileCard__infos__description {
  font-size: 18px;
  color: var(--secondary-dark-gray);
  margin-top: 19px;
}
.photographer__profileCard__contactButton {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: var(--primary-dark-red);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}
.photographer__profileCard__contactButton:hover, .photographer__profileCard__contactButton:focus {
  color: #000;
  background: var(--primary-light-red);
}
.photographer__profileCard__picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
}

.filter {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.filter__label {
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
}
.filter__input {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: var(--primary-dark-red);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin: 0;
}
.filter__input:hover, .filter__input:focus {
  color: #000;
  background: var(--primary-light-red);
}

.displayMediaSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
.displayMediaSection__mediaCard {
  flex-basis: 30%;
  margin-bottom: 20px;
}
.displayMediaSection__mediaCard__picture {
  width: 100%;
  aspect-ratio: 1/1;
  object-position: 50% 25%;
  object-fit: cover;
  border-radius: 5px;
}
.displayMediaSection__mediaCard__link {
  display: inline-block;
  position: relative;
}
.displayMediaSection__mediaCard__link__playLogo {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}
.displayMediaSection__mediaCard__desc {
  font-size: 24px;
  color: var(--primary-dark-red);
  display: flex;
  padding-top: 10px;
}
.displayMediaSection__mediaCard__desc__likes {
  font-weight: 500;
  margin-left: auto;
}

.lightBoxModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 13;
}
.lightBoxModal__nextButton, .lightBoxModal__prevButton {
  cursor: pointer;
  color: transparent;
  background: url(/public/assets/icons/right-arrow-red.svg) center center/30px 48px no-repeat;
  width: 110px;
  height: 100%;
  margin-top: 7px;
  z-index: 11;
}
.lightBoxModal__prevButton {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
.lightBoxModal__mainContainer {
  position: relative;
}
.lightBoxModal__media {
  border-radius: 5px;
  width: 100%;
  max-height: 90vh;
  object-fit: contain;
  object-position: 50% 30%;
  z-index: 12;
  position: relative;
}
.lightBoxModal__closeButton {
  cursor: pointer;
  color: transparent;
  right: 0;
  width: 42px;
  height: 42px;
  background: url(/public/assets/icons/close-red.svg) center center/42px 42px no-repeat;
  z-index: 12;
  position: absolute;
  top: 0;
  right: -70px;
}
.lightBoxModal__mediaDesc {
  color: var(--primary-dark-red);
  font-size: 24px;
  margin-top: 14px;
}

.contactModal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.contactModal__content {
  border-radius: 5px;
  background-color: #db8876;
  width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
}
.contactModal__content__header {
  justify-content: space-between;
  width: 100%;
}
.contactModal__content__header__closeIcon {
  cursor: pointer;
  align-self: start;
}
.contactModal__content__header__title {
  font-size: 64px;
}
.contactModal__content__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}
.contactModal__content__form__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
.contactModal__content__form__label {
  color: #312e2e;
  font-size: 36px;
}
.contactModal__content__form__input, .contactModal__content__form__textaera {
  width: 100%;
  padding: 0 10px;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
.contactModal__content__form__textaera {
  height: 170px;
}
.contactModal__content__form__submit {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: var(--primary-dark-red);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin: 0;
}
.contactModal__content__form__submit:hover, .contactModal__content__form__submit:focus {
  color: #000;
  background: var(--primary-light-red);
}

/*# sourceMappingURL=photographer.css.map */
