@charset "UTF-8";
/* * * * * * */
/* Reset CSS */
/* * * * * * */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

header {
  padding: 0;
}

fieldset {
  border: none;
}

button {
  border: none;
}

input,
textarea {
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

body {
  width: 90%;
  margin: auto;
  max-width: 1440px;
}

h1,
h2 {
  font-weight: 400;
}

#main {
  padding-bottom: 75px;
}

/* * * * * * * * */
/* Variables CSS */
/* * * * * * * * */
:root {
  --primary-dark-red: #901c1c;
  --primary-light-red: #d3573c;
  --secondary-dark-gray: #525252;
  --secondary-light-gray: #fafafa;
  --secondary-light-red: #db8876;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

h1 {
  color: var(--primary-dark-red);
  font-size: 36px;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 120px;
}

.logo {
  margin-left: 0;
}

.photographer__profileCard {
  background-color: #fafafa;
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.photographer__profileCard__infos__name {
  color: var(--primary-light-red);
  font-size: 64px;
}
.photographer__profileCard__infos__location {
  font-size: 24px;
  color: var(--primary-dark-red);
}
.photographer__profileCard__infos__description {
  font-size: 18px;
  color: var(--secondary-dark-gray);
  margin-top: 19px;
}
.photographer__profileCard__contactButton {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: var(--primary-dark-red);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}
.photographer__profileCard__contactButton:hover, .photographer__profileCard__contactButton:focus {
  color: #000;
  background: var(--secondary-light-red);
}
.photographer__profileCard__picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
}
.photographer__stickyMiniBar {
  display: flex;
  align-items: center;
  background-color: var(--secondary-light-red);
  font-size: 24px;
  font-weight: 500;
  width: 376px;
  padding: 21px 31px 10px 31px;
  border-radius: 5px 5px 0 0;
  position: fixed;
  right: 36px;
  bottom: 0;
  z-index: 8;
}
.photographer__stickyMiniBar svg {
  margin-left: 6px;
}
.photographer__stickyMiniBar__price {
  margin-left: auto;
}

.filter {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
}
.isActive .filter__selectCustom__options {
  display: block;
}
.isActive .filter__selectCustom__trigger::after {
  transform: rotate(180deg);
}
.filter__label {
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
}
.filter__wrapper {
  position: relative;
}
.filter__selectNative, .filter__selectCustom {
  position: relative;
  width: 170px;
}
.filter__selectNative {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0.8rem;
  padding: 0rem 0.8rem;
}
.filter__selectNative, .filter__selectCustom__trigger {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 20px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: var(--primary-dark-red);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.filter__selectCustom__trigger {
  position: relative;
}
.filter__selectCustom__trigger::after {
  content: " ";
  position: absolute;
  top: calc(50% - 10px);
  right: 0.8rem;
  width: 20px;
  height: 20px;
  background: url("../assets/icons/arrow.svg") center no-repeat;
  transition: transform 500ms;
}
.filter__selectCustom {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.filter__selectCustom__option {
  position: relative;
  padding: 20px;
  padding-top: 23px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border-top: 1px solid #fff;
  height: 69px;
}
.filter__selectCustom__option:first-child {
  border-top: none;
  border-radius: 5px 5px 0 0;
}
.filter__selectCustom__option:first-child::after {
  content: " ";
  position: absolute;
  top: calc(50% - 10px);
  right: 0.8rem;
  width: 20px;
  height: 20px;
  background: url("../assets/icons/arrow.svg") center no-repeat;
  transform: rotate(180deg);
  animation: rotateArrow 500ms both;
}
@keyframes rotateArrow {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 180deg;
  }
}
.filter__selectCustom__option:last-child {
  border-radius: 0 0 5px 5px;
}
.filter__selectCustom__option.isHover, .filter__selectCustom__option:hover {
  color: #000;
  background: var(--secondary-light-red);
  cursor: pointer;
}
.filter__selectCustom__option.isHover::after, .filter__selectCustom__option:hover::after {
  background: url("../assets/icons/arrow-blk.svg") center no-repeat;
}
.filter__selectCustom__option.isActive::before {
  content: "✓";
  font-size: 14px;
  position: absolute;
  left: 4px;
  top: calc(50% - 7px);
}
.filter__selectCustom__options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  background-color: var(--primary-dark-red);
  z-index: 1;
  display: none;
}
@media (hover: hover) {
  .filter__selectCustom {
    display: block;
  }
  .filter__selectNative:focus + .filter__selectCustom {
    display: none;
  }
}
.filter__selectNative:focus, .filter__selectCustom.isActive .filter__selectCustom__trigger {
  outline: none;
}

.displayMediaSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
.displayMediaSection__mediaCard {
  flex-basis: 30%;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .displayMediaSection__mediaCard {
    flex-basis: 48%;
  }
}
@media only screen and (max-width: 375px) {
  .displayMediaSection__mediaCard {
    flex-basis: 100%;
  }
}
.displayMediaSection__mediaCard__picture {
  width: 100%;
  aspect-ratio: 1/1;
  object-position: 50% 25%;
  object-fit: cover;
  border-radius: 5px;
}
.displayMediaSection__mediaCard__link {
  display: inline-block;
  position: relative;
}
.displayMediaSection__mediaCard__link__playLogo {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}
.displayMediaSection__mediaCard__desc {
  font-size: 24px;
  color: var(--primary-dark-red);
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.displayMediaSection__mediaCard__desc__likes {
  font-weight: 500;
  padding-right: 21px;
  position: relative;
  cursor: pointer;
  margin-left: auto;
}
.displayMediaSection__mediaCard__desc__likes::after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  right: 0;
  width: 19px;
  height: 19px;
  background: url(../assets/icons/heart-red.svg) center no-repeat;
}
.displayMediaSection__mediaCard__desc svg {
  margin-left: 5px;
}

.lightBoxModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 13;
}
.lightBoxModal__nextButton, .lightBoxModal__prevButton {
  cursor: pointer;
  color: transparent;
  background: url(../assets/icons/right-arrow-red.svg) center center/30px 48px no-repeat;
  width: 110px;
  height: 100%;
  margin-top: 7px;
  z-index: 11;
}
.lightBoxModal__prevButton {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
.lightBoxModal__mainContainer {
  position: relative;
}
.lightBoxModal__media {
  border-radius: 5px;
  width: 100%;
  max-height: 90vh;
  object-fit: contain;
  object-position: 50% 30%;
  z-index: 12;
  position: relative;
}
.lightBoxModal__closeButton {
  cursor: pointer;
  color: transparent;
  right: 0;
  width: 42px;
  height: 42px;
  background: url(../assets/icons/close-red.svg) center center/42px 42px no-repeat;
  z-index: 12;
  position: absolute;
  top: 0;
  right: -70px;
}
.lightBoxModal__mediaDesc {
  color: var(--primary-dark-red);
  font-size: 24px;
  margin-top: 14px;
}

.contactModal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.contactModal__content {
  border-radius: 5px;
  background-color: var(--secondary-light-red);
  width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
}
.contactModal__content__header {
  justify-content: space-between;
  width: 100%;
}
.contactModal__content__header__closeIcon {
  cursor: pointer;
  align-self: start;
}
.contactModal__content__header__title {
  font-size: 64px;
}
.contactModal__content__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}
.contactModal__content__form__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
.contactModal__content__form__label {
  color: #312e2e;
  font-size: 36px;
}
.contactModal__content__form__input, .contactModal__content__form__textaera {
  width: 100%;
  padding: 0 10px;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
.contactModal__content__form__textaera {
  height: 170px;
}
.contactModal__content__form__submit {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: var(--primary-dark-red);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin: 0;
}
.contactModal__content__form__submit:hover, .contactModal__content__form__submit:focus {
  color: #000;
  background: var(--secondary-light-red);
}

/*# sourceMappingURL=photographer.css.map */
