.photographersSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 80px;

    &__profile {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__link {
            text-align: center;

            &__picture {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.25);
                margin: 0 auto;
            }

            &__name {
                color: var(--primary-light-red);
                font-size: 36px;
                font-weight: 400;
                margin-top: 20px;
            }
        }

        p {
            line-height: 1.6;
        }

        &__location {
            font-size: 13px;
            color: var(--primary-dark-red);
        }

        &__description {
            font-size: 10px;
        }

        &__price {
            font-size: 9px;
            color: var(--secondary-dark-gray);
        }
    }
}
