.logo {
    margin-left: 0;
}

.photographer {
    &__profileCard {
        background-color: #fafafa;
        height: 300px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 0 50px;

        &__infos {
            &__name {
                color: var(--primary-light-red);
                font-size: 64px;
            }
            &__location {
                font-size: 24px;
                color: var(--primary-dark-red);
            }
            &__description {
                font-size: 18px;
                color: var(--secondary-dark-gray);
                margin-top: 19px;
            }
        }

        &__contactButton {
            @include button;
        }

        &__picture {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-left: auto;
        }
    }
}

.filter {
    display: flex;
    align-items: center;
    padding: 10px 0;

    &__label {
        font-size: 18px;
        font-weight: 700;
        padding-right: 50px;
    }
    &__input {
        @include select;
        margin: 0;
    }
}

.displayMediaSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    &__mediaCard {
        flex-basis: 30%;
        margin-bottom: 20px;
        &__picture {
            width: 100%;
            // height: 300px;
            aspect-ratio: 1/1;
            object-position: 50% 25%;
            object-fit: cover;
            border-radius: 5px;
        }
        &__link {
            display: inline-block;
            position: relative;

            &__playLogo {
                position: absolute;
                top: calc(50% - 75px);
                left: calc(50% - 75px);
            }
        }
        &__desc {
            font-size: 24px;
            color: var(--primary-dark-red);
            display: flex;
            padding-top: 10px;

            &__title {
            }
            &__likes {
                font-weight: 500;
                margin-left: auto;
            }
        }
    }
}

// Import the lighBox component
@include lightBox;

// Form modal component
@include contactForm;
