.logo {
    margin-left: 0;
}

.photographer {
    &__profileCard {
        background-color: #fafafa;
        height: 300px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 0 50px;

        &__infos {
            &__name {
                color: var(--primary-light-red);
                font-size: 64px;
            }
            &__location {
                font-size: 24px;
                color: var(--primary-dark-red);
            }
            &__description {
                font-size: 18px;
                color: var(--secondary-dark-gray);
                margin-top: 19px;
            }
        }

        &__contactButton {
            @include button;
        }

        &__picture {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-left: auto;
        }
    }

    &__stickyMiniBar {
        display: flex;
        align-items: center;
        background-color: var(--secondary-light-red);
        font-size: 24px;
        font-weight: 500;
        width: 376px;
        padding: 21px 31px 10px 31px;
        border-radius: 5px 5px 0 0;
        position: fixed;
        right: 36px;
        bottom: 0;
        z-index: 8;

        &__likes {
        }

        svg {
            margin-left: 6px;
        }

        &__price {
            margin-left: auto;
        }
    }
}

// Filter element
.filter {
    @include select;
}

.displayMediaSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    &__mediaCard {
        flex-basis: 30%;
        margin-bottom: 20px;
        &__picture {
            width: 100%;
            // height: 300px;
            aspect-ratio: 1/1;
            object-position: 50% 25%;
            object-fit: cover;
            border-radius: 5px;
        }
        &__link {
            display: inline-block;
            position: relative;

            &__playLogo {
                position: absolute;
                top: calc(50% - 75px);
                left: calc(50% - 75px);
            }
        }
        &__desc {
            font-size: 24px;
            color: var(--primary-dark-red);
            display: flex;
            align-items: center;
            padding-top: 10px;

            &__likesCont {
                display: flex;
                align-items: center;
                margin-left: auto;
                cursor: pointer;
            }

            &__title {
            }
            &__likes {
                font-weight: 500;
            }
            svg {
                margin-left: 5px;
            }
        }
    }
}

// Import the lighBox component
@include lightBox;

// Form modal component
@include contactForm;
