.logo {
    margin-left: 0;
}

#contact {
    &_modal {
        display: none;
    }
}

.photographer {
    &__profileCard {
        background-color: #fafafa;
        height: 300px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 0 50px;

        &__infos {
            &__name {
                color: var(--primary-light-red);
                font-size: 64px;
            }
            &__location {
                font-size: 24px;
                color: var(--primary-dark-red);
            }
            &__description {
                font-size: 18px;
                color: var(--secondary-dark-gray);
                margin-top: 19px;
            }
        }

        &__contactButton {
            @include button;
        }

        &__picture {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-left: auto;
        }
    }
}

.filter {
    display: flex;
    align-items: center;
    padding: 10px 0;

    &__label {
        font-size: 18px;
        font-weight: 700;
        padding-right: 50px;
    }
    &__input {
        @include select;
        margin: 0;
    }
}

.displayMediaSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    &__mediaCard {
        flex-basis: 30%;
        margin-bottom: 20px;
        &__picture {
            width: 100%;
            // height: 300px;
            aspect-ratio: 1/1;
            object-position: 50% 25%;
            object-fit: cover;
            border-radius: 5px;
        }
        &__link {
        }
        &__desc {
            font-size: 24px;
            color: var(--primary-dark-red);
            display: flex;
            padding-top: 10px;

            &__title {
            }
            &__likes {
                font-weight: 500;
                margin-left: auto;
            }
        }
    }
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;

    header {
        justify-content: space-between;
        width: 100%;

        img {
            cursor: pointer;
        }

        h2 {
            font-size: 64px;
            text-align: center;
        }
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    label {
        color: #312e2e;
        font-size: 36px;
    }

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }

    input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
    }
}
