@mixin contactForm {
    .contactModal {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0, 0, 0.25);

        &__content {
            border-radius: 5px;
            background-color: #db8876;
            width: 670px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 35px;

            &__header {
                justify-content: space-between;
                width: 100%;

                &__closeIcon {
                    cursor: pointer;
                    align-self: start;
                }

                &__title {
                    font-size: 64px;
                }
            }

            &__form {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 40px;

                &__field {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: self-start;
                    margin-bottom: 26px;
                }

                &__label {
                    color: #312e2e;
                    font-size: 36px;
                }

                &__input,
                &__textaera {
                    width: 100%;
                    padding: 0 10px;
                    height: 68px;
                    border: none;
                    border-radius: 5px;
                    font-size: 24px;
                }

                &__textaera {
                    height: 170px;
                }

                &__submit {
                    @include button;
                    margin: 0;
                }
            }
        }
    }
}
