header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

h1 {
    color: var(--primary-dark-red);
    font-size: 36px;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}
